<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>
    </Console>

    <File name="File" fileName="logs/app.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>
    </File>
  </Appenders>

  <Loggers>
    <!-- JasperReports: engine + subpackages at DEBUG -->
    <Logger name="net.sf.jasperreports.engine" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="net.sf.jasperreports.engine.fill" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="net.sf.jasperreports.engine.compile" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="net.sf.jasperreports.engine.xml" level="debug" additivity="false">
	  <AppenderRef ref="Console"/>
	  <AppenderRef ref="File"/>
	</Logger>
	<Logger name="net.sf.jasperreports.engine.design" level="debug" additivity="false">
	  <AppenderRef ref="Console"/>
	  <AppenderRef ref="File"/>
	</Logger>

    <!-- If you want everything under net.sf.jasperreports -->
    <Logger name="net.sf.jasperreports" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Optional: Jackson debugging (fixed appender name) -->
    <Logger name="com.fasterxml.jackson" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="com.fasterxml.jackson.databind" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="com.fasterxml.jackson.core" level="info" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>
    <!-- Reports subsystem -->
    <Logger name="nonprofitbookkeeping.reports" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <!-- Reports subsystem -->
    <Logger name="nonprofitbookkeeping.reports" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
